body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
}

#details {
  float: none;
}

#details div {
  text-align: center;
  float: left;
  width: 25%;
  background-color: red;
}